@section Scripts
{
    <script src="~/Scripts/geolocation.js"></script>
}

@{
	ViewBag.Title = "Home";
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@using (Html.BeginForm("Nearest", "Home", FormMethod.Post, new { name = "hiddenForm", id = "hiddenForm" }))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("error", 0)
    @Html.Hidden("latitude", 0)
    @Html.Hidden("longitude", 0)
    <div id="enterPostalCode">
        Enter postal code:
        @Html.TextBox("postalCode")
        <input type="submit" value="Done!" class="btn btn-default" />
    </div>
}
